[submodule "predix-scripts"]
	path = predix-scripts
	url = https://github.com/solanolabs/predix-scripts.git
	branch = solano
[submodule "predix-sdks"]
	path = predix-sdks
	url = https://github.com/solanolabs/predix-sdks.git
	branch = solano
[submodule "Predix-HelloWorld-WebApp"]
	path = Predix-HelloWorld-WebApp
	url = https://github.com/solanolabs/Predix-HelloWorld-WebApp.git
	branch = solano
[submodule "data-seed-service"]
	path = data-seed-service
	url = https://github.com/solanolabs/data-seed-service.git
	branch = solano
[submodule "dataingestion-service"]
	path = dataingestion-service
	url = https://github.com/solanolabs/dataingestion-service.git
	branch = solano
[submodule "machinedata-simulator"]
	path = machinedata-simulator
	url = https://github.com/solanolabs/machinedata-simulator.git
	branch = solano
[submodule "rmd-datasource"]
	path = rmd-datasource
	url = https://github.com/solanolabs/rmd-datasource.git
	branch = solano
[submodule "rmd-ref-app-ui"]
	path = rmd-ref-app-ui
	url = https://github.com/solanolabs/rmd-ref-app-ui.git
	branch = solano
[submodule "predix-websocket-server"]
	path = predix-websocket-server
	url = https://github.com/solanolabs/predix-websocket-server.git
	branch = solano
